.fullscreendiv {
  justify-content: center;
  margin-top: 10vh;
}
.fullscreendiv div p {
  font-family: "OmTeloletOm";
  font-size: 2.9em;
  color: #ffffff;
}
.fullscreendiv div span {
  color: #ffffff;
}
.float-right {
}
.btn-browse {
  border-radius: 3em;
  background-color: #ffffff;
  font-weight: 600;
  border: none;
  color: #fa3a2c;
  margin-top: 10%;
}
.btn-browse:hover {
  color: #fff;
  background-color: #fa5c32;
}
.float-left {
  margin-top: 10%;
  padding-right: 10%;
}
@media (max-width: 800px) {
  .float-left {
    padding-right: unset;
    padding-bottom: 4em;
  }
  .fullscreendiv img {
    height: 50vh;
  }
}
.bgimg {
  height: 35em;
}
.shopdiv {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
