nav .container {
  width: max-content;
  margin-left: 1em;
  padding: 0.5em;
  border-radius: 50px;
  font-family: "Roboto";
  background: #ffffff; /* fallback for old browsers */
  box-shadow: 0px 0px 10px -2px;
}
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 99;
}

.nav-item {
  padding-left: 2em;
  padding-right: 2em;
}
@media (max-width: 991px) {
  nav .container {
    width: 100%;
    margin-left: auto;
    border-radius: unset;
    padding: auto;
    box-shadow: unset;
  }
  .navbar {
    background: #ffffff;
    position: inherit;
  }
  a.floating-cart-icon {
    position: fixed;
    top: 5em;
    right: 0;
    background-color: white;
    z-index: 99;
  }
}

.navbar-brand {
  font-family: "Roboto";
  padding-left: 2em;
}
.cartCount {
  border-radius: 50px;
  background: #ffffff; /* fallback for old browsers */
  margin-right: 7em;
}
.navbar-brand,
a {
  color: #ff983b;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 152, 59, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border-color: #ff983b;
}
.navbar-brand:hover,
a:hover,
.navbar-toggler:hover {
  color: #ff2525;
}

.fa-check-circle {
  color: green;
}
.jumbotron {
  background-color: #ffffff;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  cursor: pointer;
}
.list-group-item:hover {
  background-color: #fa7337;
  color: #ffffff;
  cursor: pointer;
}
