body {
  margin: 0;
  height: 100%;
  font-family: "ubuntu-reg";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "OmTeloletOm";
  src: url(../fonts/OmTeloletOm.ttf) format("truetype");
  src: url(../fonts/OmTeloletOm.otf) format("opentype");
}
@font-face {
  font-family: "ubuntu";
  src: url(../fonts/Ubuntu-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "ubuntu-reg";
  src: url(../fonts/Ubuntu-Regular.ttf) format("truetype");
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
