body {
  margin: 0;
  height: 100%;
  font-family: "Roboto";
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "OmTeloletOm";
  src: url(../fonts/OmTeloletOm.ttf) format("truetype");
  src: url(../fonts/OmTeloletOm.otf) format("opentype");
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf) format("truetype");
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
