body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "OmTeloletOm";
  src: url(../fonts/OmTeloletOm.ttf) format("truetype");
  src: url(../fonts/OmTeloletOm.otf) format("opentype");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
